@keyframes blink {
    from, to {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    /* flex-wrap: ; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    text-align: center;
  }
  